extends layout

block content
  .container
      table.table.table-hover
        thead
          tr
            th Index
            |         
            th Beer
            |         
            th Type
        tbody
          each beer in beers
            tr
              td= beer.index
              td= beer.name
              td= beer.type
