extends layout

block content
  div
      table.table.table-hover
        thead
          tr
            th(class="span1") Index
            |         
            th(class="span1") Beer
        tbody
          each beer in beers
            tr
              td= beer.index
              if beer.type == 'ipa' 
                td
                  b= beer.name
              else if beer.type == 'cider'
                td 
                  b
                    em= beer.name
              else
                td= beer.name