extends layout

block content
    table.table-full-width
      tbody
        each beer in beers
          tr
            td=beer.index
            td
              if beer.type == 'ipa' 
                b= beer.name
              else if beer.type == 'cider'
                b
                  em= beer.name
              else
                span= beer.name