doctype html(lang='en')
head
    //
      Basic Page Needs
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(charset='utf-8')
    |   
    title Chucks
    |   
    meta(name='description', content='')
    |   
    meta(name='author', content='')
    //
      Mobile Specific Metas
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //
      FONT
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300,600', rel='stylesheet', type='text/css')
    //
      CSS
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='stylesheet', href='normalize.css')
    link(rel='stylesheet', href='skeleton.css')
    link(rel='stylesheet', href='base.css')
    //
      Favicon
      ––––––––––––––––––––––––––––––––––––––––––––––––––
    link(rel='icon', type='image/png', href='images/favicon.png')
  body
    .container
      br
      h1 Chucks
      hr
      h4
            if location == 'cd' 
              b
                a(href='/') Central District
              &nbsp; 
              a(href='/ballard') Ballard
            else
              a(href='/') Central District
              &nbsp;
              b
                a(href='/ballard') Ballard
      block content